body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/image.png');
    background-size: cover;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: black;
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1.5);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    text-shadow: 333;
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5rem;
}

.header-nav {
    text-align: center;
}

.header-nav a {
    text-decoration: none;
    color: orange;
    font-size: 30px;
    padding: 20px;
    transition: background-color 0.3s;
}

.header-nav a:hover {
    background-color: #eee;
}

.input-group, .coordinates {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label, .coordinates label {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.input-group input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.coordinates {
    text-align: center;
}
#flight-summary {
    width: 106%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.timer label, .timer span {
    font-size: 2.0em;
}

.timer-button, .button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

button, .input-group button, .timer button, #save-record, #export-csv {
    width: 50%;
    margin: auto;
    font-size: 1.1em;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color .3s ease;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:active, button:focus {
    outline: none;
}

#map {
    width: 90%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

#existing-excel-file {
    display: none;
}
#existing-maintenance-excel-file {
    display: none;
}
.button-container button #export-csv {
    display: none;
}

.input-group textarea {
    margin-top: 20px;
}

@media (min-width: 800px) {
    #map {
        width: 90%;
    }
}
