<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">

    <title>ドローン飛行記録</title>
   

</head>
<div class="header-nav">
    <a href="{% url 'home' %}">MAIN</a> | 
    <a href="{% url 'maintenance_record' %}">Mainte</a> |
    {% comment %} <a href="{% url 'I&M_record' %}">I&M record</a> {% endcomment %}
</div>

<body>
    <div class="container">
        <h1>ドローン飛行記録</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="flight-date">飛行年月日:</label>
                <input type="date" id="flight-date">
            </div>
            <div class="input-group">
                <label for="pilot-name">操縦者:</label>
                <input type="text" id="pilot-name" placeholder="操縦者の名前を入力">
            </div>
            <div class="input-group">
                <label for="flight-summary">飛行概要:</label>
                <div class="custom-select">
                    <select id="flight-summary">
                        <option value="" disabled selected>飛行概要を選択</option>
                        <optgroup label="目視内飛行">
                        <option value="空撮(目視内)">空撮(目視内)</option>
                        <option value="インフラ点検(目視内)">インフラ点検(目視内)</option>
                        <option value="設備点検(目視内)">設備点検(目視内)</option>
                        <option value="農薬散布(目視内)">農薬散布(目視内)</option>
                        <option value="肥料散布(目視内)">肥料散布(目視内)</option>
                        </optgroup>
                        <optgroup label="目視外飛行">
                            <option value="空撮(目視外)">空撮(目視外)</option>
                            <option value="インフラ点検(目視外)">インフラ点検(目視外)</option>
                            <option value="設備点検(目視外)">設備点検(目視外)</option>
                            <option value="農薬散布(目視外)">農薬散布(目視外)</option>
                            <option value="肥料散布(目視外)">肥料散布(目視外)</option>
                            </optgroup>
                    </select>
                </div>
            </div>
            
            <div class="input-group">
                <label for="takeoff-time">離陸時刻:</label>
                <input type="time" id="takeoff-time" placeholder="離陸時間 (HH:MM:SS)">

            </div>
            <div class="input-group">
                <label for="landing-time">着陸時刻:</label>
                <input type="time" id="landing-time" placeholder="着陸時間 (HH:MM:SS)">
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </form>

        <div class="timer">
            <div class="timer-button">
                <button id="start-takeoff">離陸 スタート</button>
                <button id="pause-takeoff" style="display: none;" />一時 停止</button>
                <button id="stop-landing" disabled>着陸 ストップ</button>
            </div>
            <span id="flight-time">00:00:00</span>
        </div>

        <div class="timer">
            <label for="total-flight-time">総飛行時間:</label>
            <span id="total-flight-time">00:00:00</span>
        </div>

        <div id="map"></div>

        <div class="coordinates">
            <label>離陸地座標:</label>
            <span id="takeoff-coordinates">緯度:--, 経度:--</span>
        </div>
        <div class="coordinates">
            <label>着陸地座標:</label>
            <span id="landing-coordinates">緯度:--, 経度:--</span>
        </div>

        <div class="button-container">
            <button id="save-record">記録を保存</button>
            <button id="export-csv" style="display: none;" />CSVに出力</button>
            <button type="button" id="export-excel">Excelに出力</button>
            <input type="file" id="existing-excel-file" />
       
        </div>        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzaqhU7tFCZQu6qYxgjoZcZYH3NPFFFus&callback=initMap" async defer></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
